* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: hsla(298, 68%, 90%, 1);
    background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive, sans-serif;
    user-select: none;
}

.container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 #FAD4C0;
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
    margin: 70px 0;
    z-index: 2;
    text-align: center;
    width: 300px;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 1rem 0;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
    box-shadow: 0 2px 3px #564E58;
}

.behaviour span {
    padding: 10px;
    margin: 0 5px;
    font-size: 1.25rem;
    color: #923F67;
    cursor: pointer;
}

.behaviour span:hover i {
    color: #F268AB;
}

.container.play img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.controls {
    margin-top: 1.5rem;
}

.progress {
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
    height: 6px;
    width: 100%;
    position: relative;
    transition: all 0.1s linear;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.progress #totalTime {
    font-size: 10px;
    position: absolute;
    top: -20px;
    right: 0;
}

.progress #currentTime {
    font-size: 10px;
    position: absolute;
    top: -20px;
    left: 0;
}

#progress-bar {
    background-color: #F268AB;
    border-radius: 6px;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    transition: all 0.1s linear;
}

a:link,
a:visited {
    color: #923F67;
}

a:hover,
a:focus {
    color: #F268AB;
}
